
<div class="row"><br>
    <div class="col-md-8">
        <p class="lead">
          <%= @topic.title %>
          <%= link_to "New Bookmark", new_topic_bookmark_path(@topic, @bookmark), class: 'btn btn-success' %>
        </p>
        <% @topic.bookmarks.each do |bookmark| %>
        <div class="media">
            <div class="media-body">
                <h4 class="media-heading">
                    <%= link_to bookmark.url, bookmark.url %>
                    <%= link_to "Edit", edit_topic_bookmark_path(bookmark.topic, bookmark), class: 'btn btn-success' %>
                    <%= link_to "Delete", [bookmark.topic, bookmark], method: :delete, class: 'btn btn-danger', data: {confirm: "Are you sure you want to delete bookmark?"} %>
                </h4>
            </div>
        </div>
        <% end %>
    </div>
</div>
