<h1> My Blocmarks </h1>

<h2> <%= @user.username %>'s Bookmarks </h2>

  <div class="row">
    <% @user_bookmarks.each do |bookmark| %>
    <div class="col-sm-4">
      <div class="well bookmark_box">
        <%= render partial: 'bookmarks/thumbnail', locals: { bookmark: bookmark } %>
        <br>
        <%= link_to "Delete", bookmark, method: :delete, class: 'glyphicon glyphicon-remove-circle', data: { confirm: "Are you sure you want to delete this bookmark?" } %> <br>
        <%= link_to "Edit", edit_bookmark_path(bookmark), class: 'glyphicon glyphicon-pencil' %>
      </div>
      <div class="button_placement">
      <%= render partial: 'likes/like', locals: { bookmark: bookmark } %>
      </div>
    </div>
    <% end %>
  </div>
______________________

<h2> Liked Bookmarks </h2>

<div class="row">
  <% @liked_bookmarks.each do |like| %>
  <div class="col-sm-4">
    <div class="well bookmark_box">
      <%= render partial: 'bookmarks/thumbnail', locals: { bookmark: like.bookmark } %>

    </div>
    <div class="button_placement">
    <%= render partial: 'likes/like', locals: { bookmark: like.bookmark } %>
    </div>
  </div>
  <% end %>
</div>
<br>
<br>
<br>
<div>
</div>
